.text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.container {
  padding: 24px;
}

.img {
  width: 55%;
}

.title {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  color: darkcyan;
  margin-bottom: 12px;
  margin-top: 0;
}

.globeIconStyled {
  fill: darkcyan;
  width: 28px;
  margin-left: 12px;
}