.text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.container {
  padding: 24px;
}

.img {
  object-fit: cover;
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  color: darkcyan;
  margin-bottom: 24px;
}

.globeIconStyled {
  fill: darkcyan;
  width: 28px;
  margin-left: 12px;
}