body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Open Sans Semibold', sans-serif;
}

h1 {
  font-family: 'Orbit';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../public/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbit';
  src: url('../public/fonts/Orbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}